@import url("https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap");
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  --orange: #fcc979;
  --black: #000000;
  --white: rgb(214, 213, 211);
  --teal: #090909;
  --darkteal: #92bed9;
  --green: #d5fcda;
  --pink: #fccdcc;
  --yellow: #ffedcb;
}
.container {
  max-width: 1200px;
  margin: auto;
}

h1 {
  text-align: center;
  color: var(--black);
  background-color: var(--white);
  display: inline-block;
  padding: 2rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  border-radius: 5px;
  border: solid 0.25rem var(--black);
}

form {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  padding: 2rem;
  text-transform: Uppercase;
  background: rgba(214, 213, 211, 0.97);
  border-radius: 5px;
  border: solid 0.25rem var(--black);
}

input,
select,
fieldset {
  font-size: 1.2rem;
  margin: 0.15rem;
  border-radius: 5px;
  border: solid 0.1rem var(--black);
}
fieldset {
  background-color: var(--white);
}

legend {
  text-decoration: solid;
}
button {
  margin-top: 1.5rem;
  padding: 0.5rem;
  color: var(--black);
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  border: solid 0.25rem var(--black);
}

button:hover {
  background-color: var(--darkteal);
  opacity: 0.5;
}
